{% extends "base.html" %}

{% block main_content %}
    <section class="createPage">
        <form action="{% url "album-create" %}" method="post">
            <fieldset>
                <legend>Add Album</legend>
                <div class="container">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="add-album" type="submit">Add New Album</button>
                </div>
            </fieldset>
        </form>
    </section>
{% endblock %}
