{% extends "base.html" %}
{% block main_content %}

    <!--Create Page-->
    <section class="createPage">
        <form method="POST" action="{% url 'create-song' %}" enctype="multipart/form-data">
            <fieldset>
                <legend>Add Song</legend>
                <div class="container">
                    {{ form }}

                    <!-- File input for music file upload -->
                    <label for="music_file">Upload Music File:</label>
                    <input type="file" name="music_file" id="music_file" required>

                    {% csrf_token %}
                    <!-- Button for Song Album -->
                    <button class="add-song" type="submit">Add New Song</button>
                </div>
            </fieldset>
        </form>
    </section>

{% endblock %}
